/* header style*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header { background-color: #e7dbdb;
    color: white;
    padding: 0px;
    grid-area: header;
    height: 30px;

}
/*nav style*/
nav {
    background-color: #e7dbdb;
    ;
}
/*nav > ul > li {
    position: relative;
   
  }*/
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    
  }

nav ul li {
    position: relative;
    /* display: inline;
    background-color: #333;
    padding: 14px 16px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    text-align: center;
    color: black; */
    
}  
nav ul li a::after{
  position: absolute;
  background-color: black;
  height: 50px;
  width: 0;
  counter: '';
  top: -55px;
  transform: translateX(-50%);
  transition: 0.5s;

}
nav > ul > li:hover ul {
 
    opacity: 1;
    pointer-events: auto;
    color: black;
}
/* body style*/
body {
  background-color: #e7dbdb;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
  /* main style*/
  main { background-color: white;
    color: black;
    grid-area: main;
    height: 1000px;
    text-align: center;
    text-decoration: solid;
    
    

  }
  /*cloudface style*/
  .cloudface {
    float: right;
    height: 50px;
  }
  /*aside style*/
  aside { background-color: lightgreen;
    grid-area: aside;
    height: 20px;

  }
  /*footer style*/
  footer { background-color: darkgreen;
    color: white;
    grid-area: footer;
    

  }
  /* social style */
  .social {
    color: blue;
    
  }
/*   
  /* bodystyle end */
  
  /* list  style*/
 
/*
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  
  /* hover link chnages on hover to black*/

  /* link displays white background while active*/
  /*.active {
    background-color: #4CAF50;
    color: white;
  }
  
  
  div img{
   float: left;
   padding: 0px;
   margin: 0px;
   size: 100px;
  }
  
  /* h1  style*/

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } */
  /* galery display style  style*/
  .gallery {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
  }
  
  /* @media screen and (max-width: 800px) {
    .gallery {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .galery {
      flex: 100%;
      max-width: 100%;
    }
  }  */
contact input style
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
  /*contact input style end*/
  